<div class="question">
  <p>
    <strong><%= question_counter + 1 %>. <%= question.prompt %></strong>
  </p>
  <%= link_to("", {}, name: question.id, class: "anchor") %>
  <%= form_with model: question, method: "patch" do |f| %>
    
    <% d = question.answered ? true: false %>
    
    <% question.answers.each do |answer| %>
      <div class="radio">
        <%= radio_button_tag :answer, answer.text, answer.text == question.chosen_answer, disabled: d %>
        <%= answer.text %>
        <%= if question.answered && (answer.text == question.chosen_answer || answer.text == question.correct_answer)
              answer.text == question.correct_answer ? '✔️' : '❌'
            end %>
      </div>
    <% end %>
    
    <%= f.submit "Answer" %>
  <% end %>
</div>