<div class="question">
  <p>
    <strong><%= question_counter + 1 %>. <%= question.prompt %></strong>
  </p>
  <%= form_with model: question do |f| %>
    <% d = question.answered ? true: false %>
    <div class="radio">
      <%= radio_button_tag :answer, question.answer_A, question.answer_A == question.chosen_answer, disabled: d %>
      <%= question.answer_A %>
      <%= if question.answered && (question.answer_A == question.chosen_answer || question.answer_A == question.correct_answer)
            question.answer_A == question.correct_answer ? '✔️' : '❌'
          end %>
    </div>
    <div class="radio">
      <%= radio_button_tag :answer, question.answer_B, question.answer_B == question.chosen_answer, disabled: d %>
      <%= question.answer_B %>
      <%= if question.answered && (question.answer_B == question.chosen_answer || question.answer_B == question.correct_answer)
            question.answer_B == question.correct_answer ? '✔️' : '❌'
          end %>
    </div>
    <div class="radio">
      <%= radio_button_tag :answer, question.answer_C, question.answer_C == question.chosen_answer, disabled: d %>
      <%= question.answer_C %>
      <%= if question.answered && (question.answer_C == question.chosen_answer || question.answer_C == question.correct_answer)
            question.answer_C == question.correct_answer ? '✔️' : '❌'
          end %>
    </div>
    <div class="radio">
      <%= radio_button_tag :answer, question.answer_D, question.answer_D == question.chosen_answer, disabled: d %>
      <%= question.answer_D %>
      <%= if question.answered && (question.answer_D == question.chosen_answer || question.answer_D == question.correct_answer)
            question.answer_D == question.correct_answer ? '✔️' : '❌'
          end %>
    </div>
    <%= f.submit "Answer" %>
  <% end %>
</div>