<h2>New Question</h2>

<p>
  <strong>Title:</strong>
  <%= @question.prompt %>
  
</p>

<p>
  <%= @question.answer_A %>
  <%= @question.answer_B %>
  <%= @question.answer_C %>
  <%= @question.answer_D %>
</p>