<% provide(:title, "Question #{@question.id}") %>

<p>
  <span id="question_info">Question ID:</span> <%= @question.id %>
</p>
<p>
  <span id="question_info">Quiz ID:</span> <%= @question.quiz_id %>
</p>
<p>
  <span id="question_info">Prompt:</span> <%= @question.prompt %>
</p>
<p>
  <span id="question_info">Answers:</span>
</p>

<ul class="answer">
  <% @question.answers.each do |answer| %>
    <li><%= answer.text %></li>
  <% end %>
</ul>

<p>
  <span id="question_info">Correct Answer:</span> <%= @question.correct_answer %>
</p>
<p>
  <span id="question_info">Answered:</span> <%= @question.answered %>
</p>
<p>
  <span id="question_info">Chosen Answer:</span> <%= @question.chosen_answer %>
</p>
<p>
  <span id="question_info">Created:</span> <%= @question.created_at %>
</p>
<p>
  <span id="question_info">Updated:</span> <%= @question.updated_at %>
</p>

<%= link_to "Back", questions_path %>