<h1>New Quiz</h1>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Quiz ID:</strong>
  <%= @quiz.id %>
</p>


<p>
  <strong>Score:</strong>
  <%= @quiz.score %>
</p>

<p>
  <strong>Number of Questions:</strong>
  <%= @quiz.num_questions %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@quiz.user_id).name %>
</p>

<h2>Questions</h2>
<% question_number = 1 %>
<%= render @quiz.questions %>