<% provide(:title, 'Quiz') %>
<div id="container">
  <div class="row">
    
    <div class="col-sm-4" id="score">   
      <p class="score">
          <%= @quiz.questions.select { |question| question.answered == false }
            .length == 0 ? "You scored: #{@quiz.score}/#{@quiz.quiz_type.num_questions}" : "Current Score: #{@quiz.score}" %>
      </p>
      <p class="info">
          Your High Score: <%= @score ? @score.score : 0 %>
      </p>
      <p class="<%= "info l#{@quiz.quiz_type.level}" %>">
          Level: <%= @quiz.quiz_type.level %>
      </p>
    </div>
    
    <div class="col-sm-4" id="quizname">
      <h1><%= @quiz.quiz_type.name %></h1>
    </div>
    
    <div class="col-sm-4" id="startagain">
      <%= link_to "Start again", quiz_type_path(@quiz.quiz_type), class: "btn btn-lg btn-primary quiz" %>
      <%= link_to "Choose a new quiz", quiz_types_path, class: "btn btn-lg btn-primary quiz" %>
      <% (1..3).each do |x| %>
        <% if @quiz.quiz_type.level != x %>
          <% @id = QuizType.find_by(level: x, name: @quiz.quiz_type.name) %>
          <% if @id %>
            <%= link_to "Level #{x}", quiz_type_path(@id), class: "btn btn-lg btn-primary level l#{x}" %>
          <% end %>
        <% end %>
      <% end %>
      
    </div>
    
  </div>
  
    <%= form_with model: @quiz, method: "patch", html: {class: "question", name: @quiz.created_at} do |f| %>

  <div id="row">
    
    <div class="grid-container">  
      <% @quiz.questions.sort.each_with_index do |question, index| %>
        <%= render partial: "question", locals: {question: question, f: f, index: index} %>
      <% end %>
    </div>
  
  </div>
  
  <div id="row">
    
    <div class="col-sm-12" id="bottom">
      <%= f.button "Answer All", name: "submit", value: "all", class: "answerall" %>
    </div>
    
  </div>
  <% end %>
  
</div>