<% provide(:title, 'Quiz') %>
<h1><%= @quiz.title %></h1>
<div class="center">
  <%= link_to "Start again", quizzes_path, method: "post", class: "btn btn-lg btn-primary" %>
</div>
<p>
  <strong>Quiz ID:</strong>
  <%= @quiz.id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @quiz.score %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @quiz.difficulty %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@quiz.user_id).name %>
</p>

<%  unanswered = @quiz.questions.select { |question| question.answered == false } %>
<%  number_questions = @quiz.questions.count %>

<p><strong>
  <%= "You scored: #{@quiz.score}/#{number_questions}" if unanswered.length == 0 %>
</strong></p>

<% question_number = 1 %>

<%= form_for(@quiz, url: quiz_path, method: "patch") do |form| %>

  <p>
    <%= form.submit "Check All Answers" %>
  </p>

<% end %>

<%= render @quiz.questions %>