<% provide(:title, 'Quiz') %>
<h1><%= @quiz.title %></h1>
<div class="center">
  <%= link_to "Start again", quizzes_path, method: "post", class: "btn btn-lg btn-primary" %>
</div>
<p>
  <strong>Quiz ID:</strong>
  <%= @quiz.id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @quiz.score %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @quiz.difficulty %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@quiz.user_id).name %>
</p>

<%  unanswered = @quiz.questions.select { |question| question.answered == false } %>
<%  number_questions = @quiz.questions.count %>

<p><strong>
  <%= "You scored: #{@quiz.score}/#{number_questions}" if unanswered.length == 0 %>
</strong></p>

<%= form_with model: @quiz, method: "patch" do |f| %>
  <% @quiz.questions.each_with_index do |question, index| %>
    <div class="question">
      <p>
        <strong><%= index + 1 %>. <%= question.prompt %></strong>
      </p>
    
      <% question.answers.each do |answer| %>
        <div class="radio">
          <%= f.radio_button question.id, answer.text, options = {checked: answer.text == question.chosen_answer, disabled: question.answered}  %>
          <%= answer.text %>
          <%= if question.answered && (answer.text == question.chosen_answer || answer.text == question.correct_answer)
                answer.text == question.correct_answer ? '✔️' : '❌'
              end %>
        </div>
      <% end %>
      
      <%= f.button "Answer", disabled: question.answered, name: "submit", value: question.id %>
    </div>
  <% end %>
  <%= f.button "Answer All", name: "submit", value: "all" %>
<% end %>