<% provide(:title, "Choose a Quiz") %>

<h1>Choose a Quiz</h1>

<div class="row">
  <div class="col-md-12">
      <%= will_paginate %>
      <table class="choosequiztable">
        <tr>
          <th>Quiz Name</th>
          <th>Level</th>
          <th>Difficulty</th>
          <th>Number of Questions</th>
        </tr>
    
        <% @quiz_types.each do |quiz_type| %>
          <tr>
            <td><%= link_to quiz_type.name, quiz_type_path(quiz_type.id) %></td>
            <td><%= quiz_type.level %></td>
            <td><%= quiz_type.difficulty %></td>
            <td><%= quiz_type.num_questions %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate %>
  </div>
</div>