<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  <%= link_to "Choose a new quiz", quiz_types_path, class: "btn btn-lg btn-primary" %>
  </aside>
  

  <div class="col-md-10">
    <table class="scoretable">
      <tr>
        <th>Quiz</th>
        <th>Level</th>
        <th>Difficulty</th>
        <th>Your Highest Score</th>
        <th>Fastest Time For 100% Correct</th>
      </tr>
  
      <% @scores.each do |score| %>
        <tr class="scores">
          <td class="col1"><%= link_to score.quiz_type.name, quiz_type_path(score.quiz_type_id) %></td>
          <td class="col2"><%= score.quiz_type.level %></td>
          <td class="col2"><%= score.quiz_type.difficulty %></td>
          <td class="col3"><%= "#{score.score} / #{score.quiz_type.num_questions}" %></td>
          <td class="col3"><%= format_time(score.fastest_time) %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>

