<% provide(:title, "Quiz") %>
  <h1>Chemical Symbol Quiz</h1>

  <h2>Question <%= @question_number %></h2>
  
  <p>
    <%= @question_number.to_s + '. ' + question_data(@question_number)[:question] %></p>

  <%= form_for(:quiz, url: quiz_path) do |f| %>

    <% question_data(@question_number)[:answers].each do |key, value| %>
      <input type="radio" name="answer" value="<%= value %>"> <%= value %><%=
        if @page == :answer && value == question_data(@question_number)[:correct_answer]
          '✔️'
        elsif @page == :answer && value == params["answer"] && value != question_data(@question_number)[:correct_answer]
          '❌'
        end %><br>
    <% end %>
    <% @score += 1 if params["answer"] == question_data(@question_number)[:correct_answer] %>

    <%= f.hidden_field :question_number, value: @question_number %>
    <%= f.hidden_field :page, value: @page %>
    <%= f.hidden_field :score, value: @score %>
    <%= f.submit @page == :question ? "Submit" : "Next Question" %>
  <% end %>
<%= params %>