<% provide(:title, "Quiz") %>
<%
  if @page == :question
    @data = question_data()
  elsif @page == :answer
    @data = {
        question: params['quiz'][:question],
        answers: [params['quiz'][:answer_A],
                  params['quiz'][:answer_B],
                  params['quiz'][:answer_C],
                  params['quiz'][:answer_D]],
        correct_answer: params['quiz'][:correct_answer]
      }
  end
%>
  <h1>Chemical Symbol Quiz</h1>
  
  <h2>Question <%= @question_number %></h2>
  
  <p>
    <%= @question_number.to_s + '. ' + @data[:question] %></p>
    
  <%= form_for(:quiz, url: quiz_path) do |f| %>

    <% @data[:answers].each do |value| %>
      <input type="radio" name="answer" value="<%= value %>"
        <%= 'checked' if @page == :answer && value == params[:answer] %> 
        <%= 'disabled' if @page == :answer %>>
        <%= value %><%= if @page == :answer && value == @data[:correct_answer]
              '✔️'
            elsif @page == :answer && value == params["answer"] && value != @data[:correct_answer]
              '❌'
            end
        %><br>
    <% end %>
    <% @score += 1 if params["answer"] == @data[:correct_answer] %>

    <%= f.hidden_field :question_number, value: @question_number %>
    <%= f.hidden_field :page, value: @page %>
    <%= f.hidden_field :score, value: @score %>
    <%= f.hidden_field :question, value: @data[:question] %>
    <%= f.hidden_field :answer_A, value: @data[:answers][0] %>
    <%= f.hidden_field :answer_B, value: @data[:answers][1] %>
    <%= f.hidden_field :answer_C, value: @data[:answers][2] %>
    <%= f.hidden_field :answer_D, value: @data[:answers][3] %>
    <%= f.hidden_field :correct_answer, value: @data[:correct_answer] %>
    <%= f.submit @page == :question ? "Submit" : "Next Question" %>
  <% end %>
<%= params %>